.app-header {
	background-color: #074264;
	height: 46px;
	padding: 10px 32px 8px 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button-section {
	display: flex;
	align-items: center;
}

.login-button {
	float: right;
}
.logo {
	margin-bottom: 30px;
}
.logo a {
	display: flex;
	align-items: center;
	color: white;
	flex-direction: column;
	padding-top: 25px;
}
.homeLink a {
	color: white;
	text-align: start;
}

.bookshow-button {
	float: right;
	margin-right: 8px;
}

@keyframes app-logo-spin {
	from {
		transform: scaleX(-1);
	}
}

.tabs {
	margin-bottom: 20px;
}

.dispNone {
	display: none;
}

.dispBlock {
	display: block;
}

.red {
	color: red;
}
